.header {
  z-index: 1000;
}

.logo img {
  margin-right: 20px; /* Adjust margin as needed */
}

.links {
  display: flex;
}

.links a {
  margin-right: 60px; /* Adjust margin between links as needed */
  text-decoration: none;
  color: #333; /* Adjust link color as needed */
  transition: transform 0.2s ease-in-out;
}

.links a:hover {
  color: #555; /* Adjust link color on hover as needed */
  transform: scale(1.1); /* Scale the link on hover */
}

/* Add this CSS code to your header.css file */

/* Updated transition properties for smoother animation */
.mobile-menu {
  transition: transform 0.3s ease-in-out;
}

.menu-open {
  transform: translateX(0%);
}

.menu-closed {
  transform: translateX(-100%);
}

